// fuente
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

//Components
@import "login";
@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}
